beautifulsoup4==4.9.3
jupyter==1.0.0
lxml==4.6.2
Markdown==3.3.3
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nltk==3.5
notebook==6.1.5
numpy 
pandas
requests==2.25.0
scikit-learn==0.23.2
scipy==1.5.4
sklearn
Sphinx==3.3.1
sphinx-autobuild==2020.9.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow-datasets==4.1.0
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.1
tensorflow-hub==0.10.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
stop-words
nltk
matplotlib
pyvis
loguru